.vehiclecard {
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.registration {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
}

.SelectButton{
    border: 2px solid black;
    text-decoration: none;
    box-sizing: border-box;
}